/* ==========================================================================
   INUITCSS
   ========================================================================== */

/**
 * CONTENTS
 *
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Core.................inuitcss’ core and setup settings.
 * Global...............Project-wide variables and settings.
 *
 * TOOLS
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding 
 * Sass MQ..............inuitcss’ default media query manager.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field using @necolas’ Normalize.css.
 * Reset................A tiny reset to complement Normalize.css.
 * Shared...............Sensibly and tersely share some global commonalities
 *                      (particularly useful when managing vertical rhythm).
 *
 * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 * OBJECTS
 * Wrapper..............Page constraint object.
 * Layout...............Generic layout module.
 * Media................Image- and text-like content side by side. The
 *                      poster-child of OOCSS.
 * Flag.................Table-layout-based advancement on the Media object.
 * List-bare............Lists with no bullets or indents.
 * List-inline..........A list whose items all site in a line.
 * Box..................Simple boxing abstraction.
 * Block................Image-on-top-of-text object.
 * Ratio................A container for maintaining aspect ratio of content.
 * Crop.................Provide a cropping context for media (images, etc.).
 * Table................Classes for manipulating `table`s.
 * Pack.................Pack items into available horizontal space.
 *
 * COMPONENTS
 * Buttons..............An example button component, and how it fits into the
 *                      inuitcss framework.
 *
 * UTILITIES
 * Clearfix.............Bind our clearfix onto a utility class.
 * Widths...............Simple width helper classes.
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacings.............Nudge bits of the DOM around with these spacing
 *                      classes.
 * Responsive-Spacings..Enhances the function of normal spacings for
 *                      responsive usage.
 * Print................Reset-like styles taken from the HTML5 Boilerplate.
 * Hide.................Helper classes to hide content
 */

// SETTINGS
@import "settings/core";
@import "settings/global";
@import "settings/colors";
@import "settings/font-faces";
@import "settings/font-size";
@import "settings/fonts";
@import "settings/slick";
@import "settings/sticky-footer";
@import "settings/user-content";
@import "settings/body";

// TOOLS
@import "tools/clearfix";
@import "tools/hidden";
@import "tools/font-size.scss";
@import "tools/col-custom";

@import "../../node_modules/sass-mq/mq";


// GENERIC
@import "generic/box-sizing";
@import "generic/normalize";
@import "generic/reset";
@import "generic/shared";


// ELEMENTS
@import "elements/page";
@import "elements/headings";
@import "elements/images";
@import "elements/tables";
@import "elements/paragraph";
@import "elements/strong";


// VENDOR
@import "vendor/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

// COMPONENTS
@import "components/*";


// UTILITIES
@import "utilities/u-clearfix";

// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
$inuit-offsets: true;
@import "utilities/u-widths";
@import "utilities/u-headings";
@import "utilities/u-spacings";
@import "utilities/u-responsive-spacings";
@import "utilities/u-print";
@import "utilities/u-hide";

@import "utilities/u-text-align";
@import "utilities/u-position";
@import "utilities/u-margin";

//custom utilities
@import "utilities/bootstrap-utilities/bootstrap-utilities";



