///* ========================================================================
//   #FONTS
//   ======================================================================== */

// Переменные, содержашие font-family по назначению
$font-family-copy: sans-serif;
$font-family-heading: sans-serif;
$font-family-subheading: sans-serif;
$font-family-button: sans-serif;

$font-family-bold: sans-serif;
$font-family-menu: sans-serif;
$font-family-regular: sans-serif;

$font-family-accent: sans-serif;
$font-family-note: sans-serif;

$font-family-creative: sans-serif;

$font-size-default: $default-size;
